.barre-navig {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  height: 60px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.titre-page {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: bold;
  color: #800000;
  text-align: center;
}

.icones-navigation {
  display: flex;
  align-items: center; 
  gap: 10px; 
  margin-left: auto;     
}

.bouton-retour {
  background: none;
  border: none;
  color: #333;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bouton-profil {
  background: none;
  border: none;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  padding: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.bouton-retour:hover,
.bouton-profil:hover{
    color: #ffffff;
    background-color: #800000;
    transform: scale(1.1);
}

@media (max-width: 767px) {
  .barre-navig {
    flex-direction: row;
    height: 60px;
    padding: 10px;
  }

  .titre-page {
    font-size: 14px;
    flex-grow: 1;
    margin: 0;
  }

  .icones-navigation {
    margin-left: 0;
    gap: 15px;
    margin-left: auto;
  }

  .bouton-retour, .bouton-profil {
    font-size: 18px;
    width: 35px;
    height: 35px;
  }
}
