.entete {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.logo-contenu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  max-width: 100%;
}

.logo {
  max-width: 150px;
  height: auto;
  object-fit: contain;
}

@media (max-width: 767px) {
  .entete {
    height: auto;
    padding: 10px;
    box-shadow: none;
    padding: 0 10px;
  }

  .logo-contenu {
    justify-content: center;
    padding: 0;
  }

  .logo {
    max-width: 120px;
    height: auto;
    object-fit: contain;
  }
}
