.bouton-lecon-2 {
  background-color: #800000;
  color: white;
  padding: 12px 24px;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  text-align: center;
  display: block;
  font-size: 16px;
}

.bouton-lecon-2:hover {
  background-color: #8a7216;
}
  
  .resultat-lecon-2 {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }


  .objectif-lecon-2 {
    background-color: #f9f9f9;
    border-left: 5px solid #880000;
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .objectif-lecon-2 h3 {
    margin: 0 0 10px;
    color: #333;
    font-size: 1.2rem;
  }
  
  .objectif-lecon-2 p {
    margin: 0;
    color: #555;
    font-size: 1rem;
    line-height: 1.5;
  }