
  
  .bouton-lecon-2{
    color: white;
    font-size: 1rem;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
    width: 200px;
  }
  
  .bouton-lecon-2:hover {
    background-color: #bb0000;
  }
  
  .resultat-lecon-2 {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
