.connexion {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
 .connexion-titre {
    color: #333;
    font-size: 30px;
    margin: 10px;
  }
  
  .erreur {
    color: red;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .bouton-se-connecter {
    background-color: #800000;
    color: white;
    padding: 12px 24px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    text-align: center;
    display: block;
    font-size: 20px;
  }
  
  .bouton-connexion:hover {
    background-color: #8a7216;
  }
  
  