.liste-competences {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  overflow-y: auto;
  padding: 10px;
  margin-top: 20px;
  box-sizing: border-box;
}

.encadre-competence {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 10px 15px;
  padding: 20px;
  width: calc(100% - 30px);
  max-width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 300px;
  box-sizing: border-box;
}

.encadre-competence:hover {
  transform: scale(1.05);
}

.titre-competence {
  font-size: 1.3rem;
  font-weight: bold;
  color: #800000;
  margin-bottom: 10px;
}

.description-competence {
  font-size: 1rem;
  color: #333;
  margin-bottom: 15px;
}

.icone-competence {
  font-size: 2rem;
  margin-bottom: 20px;
}

.bouton-competences {
  background-color: #800000;
  color: white;
  padding: 12px 24px;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  text-align: center;
  display: block;
  font-size: 16px;
}

.bouton-competences:hover {
  background-color: #8a7216;
}
