.bouton-deconnexion {
  background-color: #800000;
  color: white;
  padding: 12px 24px;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  text-align: center;
  display: block;
  font-size: 20px;
}

.bouton-deconnexion:hover {
  background-color: #8a7216;
}
