.texte-intro{
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .bouton-commencer {
    background-color: #800000;
    color: white;
    padding: 12px 24px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    text-align: center;
    display: block;
    font-size: 16px;
  }
  
  .bouton-commencer:hover {
    background-color: #8a7216;
  }
  