.section-intro {
  background-color: #ffffff;
  border-left: 6px solid #800000;
  border-radius: 12px;
  padding: 2px 20px 2px 20px;
  margin: 30px auto;
  width: 70%;
  max-width: 680px;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
}

.texte-intro{
    font-size: 1.1rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .bouton-commencer {
    background-color: #800000;
    color: white;
    padding: 12px 24px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    text-align: center;
    display: block;
    font-size: 18px;
  }
  
  .bouton-commencer:hover {
    background-color: #8a7216;
  }
  