.selection {
    padding: 20px;
    text-align: center;
  }
  
  .titre-selection{
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .bouton-selection {
      background-color: #800000;
      color: white;
      padding: 12px 24px;
      margin: 20px auto;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: auto;
      text-align: center;
      display: block;
      font-size: 16px;
    }
    
    .bouton-selection:hover {
      background-color: #8a7216;
    }
    
  