h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
.entrainement-texte {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
    padding: 10px;
    border: 2px solid #800000;
    border-radius: 8px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9f9f9; 
    box-sizing: border-box;
  }
  
  .resultat-entrainement {
    margin-top: 30px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .resultat-entrainement-titre {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .resultat-entrainement-valeur {
    font-size: 2rem;
    font-weight: 700;
    color: #880000;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff;
    display: inline-block;
    margin-top: 10px;
  }