.titre-choix-lecon {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 30px;
  margin-top: 40px;
}

.liste-lecon {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.puce-lecon, .lecon-validee {
  background-color: transparent;
  margin: 15px 30px;
  padding: 15px 30px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  border: 2px solid;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.puce-lecon {
  border-color: #880000;
  color: #880000;
  background: linear-gradient(90deg, rgba(136,0,0,0.2) 0%, rgba(136,0,0,0) 100%);
}

.puce-lecon:hover {
  background: #880000;
  color: #fff;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.lecon-validee {
  border-color: #00884d;
  color: #00884d;
  background: linear-gradient(90deg, rgba(0,136,77,0.2) 0%, rgba(0,136,77,0) 100%);
}

.lecon-validee:hover {
  background: #00884d;
  color: #fff;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.puce-lecon a, .lecon-validee a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  display: block;
  transition: color 0.3s ease;
}

.puce-lecon:hover a, .lecon-validee:hover a {
  color: #fff;
}

.lecon-validee::after {
  content: "✔";
  font-size: 16px;
  color: #00884d;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.puce-lecon::after {
  content: "✖";
  font-size: 16px;
  color: #880000;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.chargement-lecons {
  margin-top: 15px;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  text-align: center;
}
