.titre-choix-lecon {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .liste-lecon {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .puce-lecon {
    background-color: transparent;
    margin: 10px 20px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #880000;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .puce-lecon:hover {
    background-color: #880000;
    color: #fff;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }
  
  .puce-lecon a {
    text-decoration: none;
    color: #880000;
    font-size: 18px;
    display: block;
  }
  
  .puce-lecon:hover a {
    color: #fff;
  }
  
  .lecon-validee {
    background-color: transparent;
    margin: 10px 20px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #00884d;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .lecon-validee:hover {
    background-color: #00884d;
    color: #fff;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }
  
  .lecon-validee a {
    text-decoration: none;
    color: #00884d;
    font-size: 18px;
    display: block;
  }
  
  .lecon-validee:hover a {
    color: #fff;
  }