.analyse-estimation {
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
}

.message-correct {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.message-incorrect {
  color: #800000;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

.icone-correcte {
  color: #155724;
}

.icone-incorrecte {
  color: #800000;
}

.compteur-exercices {
  margin-top: 15px;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.bouton-refaire {
  background-color: #800000;
  color: white;
  padding: 12px 24px;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  text-align: center;
  display: block;
  font-size: 16px;
}

.bouton-refaire:hover {
  background-color: #8a7216;
}

.bouton-menu-lecon {
  background-color: #00884d;
  color: white;
  padding: 12px 24px;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  text-align: center;
  display: block;
  font-size: 16px;
}

.bouton-menu-lecon:hover {
  background-color: #8a7216;
}

@media (max-width: 767px) {
  .analyse-estimation {
    margin: 10px;
    padding: 10px;
  }

  .compteur-exercices {
    font-size: 1em;
  }

  .bouton-refaire, .bouton-menu-lecon {
    width: 90%;
    padding: 10px;
    font-size: 14px;
    margin: 10px auto;
  }

  .bouton-refaire:hover, .bouton-menu-lecon:hover {
    background-color: #8a7216;
  }
}
