.astuce {
  width: 80%;
  max-width: 500px;
  height: auto;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 60px auto;
  padding: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #800000;
}

.astuce-entete {
  width: 100%;
  background-color: #800000;
  padding: 10px 0;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
}

.astuce-contenu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
}

.astuce-icone {
  color: #fbc02d;
  font-size: 2rem;
}

.astuce-texte {
  font-size: 1.2rem;
  color: #333;
  text-align: center;
  font-weight: normal;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
}

.bouton-gestion-astuce{
  background-color: #800000;
  color: white;
  padding: 12px 24px;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  text-align: center;
  display: block;
  font-size: 16px;
}

.bouton-gestion-astuce:hover {
  background-color: #8a7216;
}
